<!DOCTYPE html>
<div class="logo">
  <img src="/images/noun_Tent_2517.svg" alt="tent image for logo" />
  <a href="../index.html"> Sleep<span class="highlight">Outside</span></a>
</div>
<div class="cart" id="cart-icon">
  <a href="../cart/index.html">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
      <path d="m25 25h50l-5 30h-40z" stroke="#000" stroke-width="5" fill="none" />
      <circle cx="35" cy="70" r="5" />
      <circle cx="65" cy="70" r="5" />
      <path d="m20 20h5l5 5 5-5h50" stroke="#000" stroke-width="3" fill="none" />
    </svg>
    <span id="cart-count" class="cart-count">0</span>
  </a>
</div>